@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.user-form {
  height: 100vh;
  background: rgb(38, 40, 40);
  overflow: hidden;
}

.user-details {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* max-width: 80%; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-details form {
  max-width: 80%;
  padding: 40px 60px;
  box-shadow: 3px 10px 10px;
  background: rgba(49, 51, 46, 0.747);
}

.user-details form input {
  padding: 5px;
  margin: 10px;
}

.user-details form label {
  font-size: 1.3rem;
  font-family: "DotGothic16", "Poppins", sans-serif;
  color: white;
}
.user-details form button {
  font-size: 1.1rem;
  padding: 5px;
  margin: 10px;
  background: white;
  font-family: "DotGothic16", "Poppins", sans-serif;
  text-align: center;
  cursor: pointer;
}

.public-rooms-redirect {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
